body {
  font-family: "Libre Franklin", sans-serif;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #999 1px, rgba(0, 0, 0, 0) 1px);
}
* {
  color: #333;
  margin: 0;
  /* border: 1px red solid; */
}

text {
  fill: black;
  font-size: 30px;
}
svg {
  width: 100%;
  height: 100%;
}
path {
  /* stroke-width: 40px; */
  /* stroke:red; */
}
.textpath {
  stroke-width: 30px;
  stroke: rgba(0, 0, 200, 0.05);
  /* stroke-dasharray: 20px 10px; */
}
textPath {
  /* font-size: 0.4em; */
  letter-spacing: 0.1em;
}
h1 {
  font-size: 25px;
  /* text-align: center; */
}

@media only screen and (max-width: 700px) {
}
.credit {
  position: fixed;
  right: 0;
  bottom: 0;
  text-shadow: white 0px 1px;
}

.pinwheel {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill: white;
  stroke: black;
  /* stroke-linecap: round; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.word-bank {
  text-align: justify;
  font-size: 17px;
  margin-top: 1px;
}
.word-span {
  background-color: rgba(200, 0, 200, 0.05);
  /* border: 1px solid rgba(200, 0, 200, 0.5); */
  border-radius: 3px;
  padding: 0px 2px;
}
